body{
    background-color: rgb(14, 214, 148);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin: 0;
}
.containerbtn{
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid rgba(94, 94, 94, 0.532);
}
.btn{
    border: none;
    background-color: rgb(14, 214, 148);
    width: 19.7%;
    font-size: 1.2em;
    color: rgb(251, 249, 249);
    padding: 4px;
}
.entrer{
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 5px;

}
.containertemps{
    position: absolute;
    margin-top: 150px;

}
.containertempss{
    position: absolute;
    margin-top: 40em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.containertempss .time{
    font-size: 50px;
    font-weight: 500;
}
.hidden{
    visibility: hidden;
}
@media screen and (max-width: 1024px){
    .btn{
        width: 19%;
        font-size: 1.1em;
    }
}
@media screen and (max-width: 768px){
    .btn{
        width: 19%;
        font-size: 0.8em;
    }
    .containertempss{
        margin-top: 30em;
    }
}
@media screen and (max-width: 425px){
     .btn{
        width: 100%;
        border: 1px solid #3bb416;
        font-size: 1.1em;
    }
    .containertempss{
        margin-top: 25em;
    }
    .containerbtn{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(94, 94, 94, 0.532);
    }
    .containertemps{
        position: absolute;
        margin-top: 210px;
    
    }
}
@media screen and (max-width: 375px){
     .btn{
        width: 100%;
        border: 1px solid #3bb416;
        font-size: 1.1em;
    }
    .containertempss{
        margin-top: 25em;
    }
    .containerbtn{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(94, 94, 94, 0.532);
    }
    .containertemps{
        position: absolute;
        margin-top: 210px;
    
    }
}